/* dark mode related CSS */

.extension-darken {} /* used to mark and identify which elements have been affected by darkmode. */

.extension-ignore-darken {} /* used to mark and identify which elements cannot be affected by darkmode. */

.extension-color-black {
    color: #080808 !important; /* unfortunately need the strict !important rule to override devilry default theme. See: https://stackoverflow.com/questions/4141098/how-do-i-override-a-css-value */
}

.extension-color-white {
    color: white;
}

.extension-color-lightgray {
    color: lightgray !important;
}

.extension-color-gray {
    color: gray !important;
}

.extension-bgcolor-black {
    background: #141414 !important;
}

body.extension-bgcolor-black {
    background: #222226 !important;
}

.extension-header {
    /*position: relative;*/
    /*left: 50px;*/
    /*margin: auto;*
    display: inline-block !important;
    /*width: 200px;*/
    /*text-align: center;*/
    /*background: #040404;*/
    float: right;
    padding: 10px !important;
    border-right: 4px solid #191919;
    background: #333;
    vertical-align: bottom /* aligns extension-header to the line of cradmin-legacy-menu-content */
}

/* aligns children of extension-header to the middle of extension-header's line */
.extension-header > * {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 15px;
    /*margin-right: 5px;*/
}

/* forces the content of extension-header to vertically align in the center */
/* see https://codepen.io/edge0703/pen/DzaEex */
.extension-header:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*.extension-header::before {
    box-sizing: border-box;
}

.extension-header::after {
    box-sizing: border-box;
}*/

/*#extension-option-darkmode {

}

#extension-option-language {

}*/

/* Options related CSS */

/* toggle switch: https://www.w3schools.com/howto/howto_css_switch.asp */
.extension-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.extension-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.extension-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd; /* this decides the color of the switch's background when unchecked */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* Rounded sliders */
}

.extension-switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #333; /* this decides the color of the dot when unchecked */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Rounded sliders */
}

.extension-switch input:checked + .extension-switch-slider {
    background-color: black; /* this decides the color of the switch's background when checked */
}

.extension-switch input:checked + .extension-switch-slider:before {
    background-color: white; /* this decides the color of the dot when checked */
}

.extension-switch input:focus + .extension-switch-slider {
    box-shadow: 0 0 1px black;
}

.extension-switch input:checked + .extension-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.extension-dropdown {
    background: #333;
    color: white;
    /* alternative styling: */
    /*background: #457B19;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/ /* adds an outline to the text */
}
